<div class="main">
  <div class="container">
    <div class="row">
      <div class="col quiz_show">

        <% flash.each do |message_type, messages| %>
            <% if messages.class == Array %>
              <% messages.each do |message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
              <% end %>
            <% else %>
                <div class="alert alert-<%= message_type %>"><%= messages %></div>
            <% end %>
        <% end %>

        <h1 class="text-center">マイページ</h1>
        <p class="text-center">
          名前：<%= @customer.name %>
          <% if @customer.name != "guestuser" %>
            <%= link_to"編集",edit_public_customers_path,class:"btn btn-success ml-5" %>
          <% end %>
        </p>
        <% unless @only_answer.present? %>
        <div>
          <p class="text-center">回答履歴なし。クイズにチャレンジしましょう！</p>
        </div>
        <% end %>
        <% @only_answer.each do |answer| %>
          <table class="table text-center">
            <tr>
              <th style="width: 50%">
                <%= link_to public_detail_path(key: answer.quiz.id) do %>
                  <%= answer.quiz.name %>
                <% end %>
              </th>
              <td style="width: 50%"><%= answer.score %>点</td>
            </tr>
          </table>
        <% end %>
        <div class="withdrawal_btn">
          <% if @customer.name != "guestuser" %>
            <%= link_to"退会",public_customers_path,method: :delete,data: {confirm: "本当に退会してもよろしいでしょうか？"},class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
