<div class="main">
  <div class="container">
    <div class="row">
      <div class="col quiz_show">
        <h1>マイページ</h1>
        <p class="text-center">名前：<%= @customer.name %><%= link_to"編集",edit_public_customers_path,class:"btn btn-success ml-5" %></p>
        <% @only_answer.each do |answer| %>
          <table class="table text-center">
            <tr>
              <th style="width: 50%">
                <%= link_to public_detail_path(key: answer.quiz.id) do %>
                  <%= answer.quiz.name %>
                <% end %>
              </th>
              <td style="width: 50%"><%= answer.score %>点</td>
            </tr>
          </table>
        <% end %>
        <div class="withdrawal_btn">
          <%= link_to"退会",public_customers_path,method: :delete,data: {confirm: "本当に退会してもよろしいでしょうか？"},class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>