<div class="main">
  <div class="container text-center">
    <h1 class="text-center quiz_show"><解答結果></h1>
    <% case @result.score %>
    <% when 80..100 then %>
      <%= image_tag "result_1.png" %>
    <% when 60..80 then %>
    　<%= image_tag "result_2.png" %>
    <% when 35..60 then %>
    　<%= image_tag "result_3.png" %>
    <% when 0..35 then %>
    　<%= image_tag "result_4.png" %>
    <% end %>
    <h2 class="text-center quiz_show"><%= @result.score %>点</h2>
    <div class="result_link">
      <div>
        <%= link_to"クイズ一覧",public_quizzes_path,class:"btn btn-success" %>
      </div>
      <div>
        <%= link_to"マイページ",public_customers_path,class:"btn btn-success" %>
      </div>
    </div>

    <% @quiz.questions.each.with_index do |correct_answer,i| %>
       <div class="text-center bg-success m-5">
         <table class="table">
           <tr>
             <th style="width: 10%"><%= i + 1 %></th>
             <td style="width: 45%">
               <%= correct_answer.body %><br>
               <% if correct_answer.image.attached? %>
                 <%= image_tag(correct_answer.image) %>
               <% end %>
             </td>
             <td style="width: 45%"><%= correct_answer.choices.find_by(answer: true).body %></td>
           </tr>

           <tr>
             <% if correct_answer.vest_answer.present? %>
               <td colspan="3" class="bg-danger" style="width: 45%"><%= correct_answer.vest_answer.description %></td>
             <% else %>
               <td colspan="3" class="bg-danger" style="width: 45%">説明は更新待ちです。しばしお待ちください</td>
             <% end %>
               <!--<td class="bg-danger" style="width: 45%"></td>-->
           </tr>
         </table>
       </div>
    <% end %>
  </div>
</div>