<div class="main d-flex align-items-center justify-content-center">
    <div class="container">
      <%= form_with url: public_quiz_answers_path(@quiz.id),id: "form_id" do |f| %>
           <div id = "final_answer">
              <div class="row">
                <div class="col-6 p-5 title_image">
                  <div id = "title_question">
                    <%= render"public/questions/title",question: @question %>
                  </div>
                </div>
                <div class="col-6 question_field">
                  <div>
                    <div id = "first_question" class="d-flex align-items-center justify-content-center" style="height:20vh">
                       <%= render"public/questions/show",answer: @answer1,quiz: @quiz,question: @question,f: f %>
                    </div>
                    <div id = "second_question" class="d-flex align-items-center justify-content-center" style="height:20vh">
                      <%= render"public/questions/show",answer: @answer2,quiz: @quiz,question: @question,f: f %>
                    </div>
                    <div id = "third_question" class="d-flex align-items-center justify-content-center" style="height:20vh">
                      <%= render"public/questions/show",answer: @answer3,quiz: @quiz,question: @question,f: f %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <%= f.hidden_field :answer,id: "post_answer",value:"[]" %>
        <!--<div class="submit_btn">-->
        <%= f.submit"送信",style: "display: none",class:"submit btn btn-success btn-lg" %>
        <!--</div>-->
      <% end %>
    </div>
</div>

<%= javascript_pack_tag 'answers/answer' %>