<div class="main">
  <div class="container">
    <h1>クイズ内容登録</h1>
    <%= form_with model: @question,url: admin_quiz_questions_path(@quiz.id) do |f| %>
      <p>クエスチョン登録</p>
      <p><%= f.text_area :body,rows:"4",class:"form-control" %></p>
      <p><%= f.file_field :image,accept:"/png" %></p>

      <%= f.submit"登録",class:"btn btn-success" %>
    <% end %>

　　<div>
      <h3>クイズ内容一覧(選択作成ずみ)</h3>
      <% @public_quiz.each do |question| %>
        <%= link_to admin_quiz_question_choice_path(@quiz.id, question.id, question.choices.ids) do %>
          <div class="image-wrap">
            <%= question.body %><br>
            <% if question.image.attached? %>
              <%= image_tag(question.image) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <h3>クイズ内容一覧(選択作成未実施)</h3>
      <% @private_quiz.each do |question| %>
        <%= link_to new_admin_quiz_question_choice_path(@quiz.id, question.id) do %>
          <div class="image-wrap">
            <%= question.body %><br>
            <% if question.image.attached? %>
              <%= image_tag(question.image) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>