<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3 text-center">
        <% flash.each do |message_type, messages| %>
          <% if messages.class == Array %>
            <% messages.each do |message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
          <% else %>
            <div class="alert alert-danger"><%= messages %></div>
          <% end %>
        <% end %>
        <h2 class="quiz_show">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email,class:"text-white" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
          </div>

          <div class="field">
            <%= f.label :password,class:"text-white" %><br />
            <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in",class:"btn btn-success mt-3 mb-3" %>
          </div>
        <% end %>
        <div class="text-center">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "publics/shared/links" %>
