<!DOCTYPE html>
<html>
  <head>
    <title>Ruby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" >
      <%= link_to root_path,class:"navbar-brand" do %>
        <%= image_tag "logo.png",size:"300x40" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto text-center">
                <% if customer_signed_in? %>
                  <li class="nav-item active mr-2"><%= link_to destroy_customer_session_path,method: :delete, class:"nav-link active menu-list" do %><i class="fas fa-sign-out-alt fa-fw"></i><br>ログアウト<% end %></li>
                  <li class="nav-item mr-2"><%= link_to public_quizzes_path, class:"nav-link" do %><i class="fas fa-plus fa-fw"></i><br>クイズ一覧<% end %></li>
                  <li class="nav-item mr-2"><%= link_to public_customers_path, class:"nav-link active menu-list" do %><i class="fas fa-parking fa-fw"></i><br>マイページ<% end %></li>
                <% end %>
                <% unless customer_signed_in? %>
                  <% unless  admin_signed_in? %>
                   <li class="nav-item mr-2"><%= link_to public_quizzes_path, class:"nav-link" do %><i class="fas fa-sign-in-alt fa-fw"></i></i><br>クイズ一覧<% end %></li>
                   <li class="nav-item mr-2"><%= link_to new_admin_session_path, class:"nav-link" do %><i class="fas fa-sign-in-alt fa-fw"></i><br>管理者ログイン<% end %></li>
                   <li class="nav-item mr-2"><%= link_to new_customer_registration_path, class:"nav-link" do %><i class="fas fa-parking fa-fw"></i><br>新規登録<% end %></li>
                   <li class="nav-item"><%= link_to new_customer_session_path, class:"nav-link" do %><i class="fas fa-user fa-fw"></i><br>ログイン<% end %></li>

                  <% end %>
                <% end %>
                <% if admin_signed_in? %>
                  <li class="nav-item mr-2"><%= link_to destroy_admin_session_path,method: :delete, class:"nav-link" do %><i class="fas fa-user fa-fw"></i><br>管理者ログアウト<% end %></li>
                  <li class="nav-item mr-2"><%= link_to new_admin_quiz_path, class:"nav-link" do %><i class="fas fa-parking fa-fw"></i><br>クイズ投稿<% end %></li>
                <% end %>
              </ul>
      </div>
    </nav>





    <%= yield %>
    <footer>
        <div class='pb-3 pt-2'>
      	   <div class='mx-auto'>
          		<div class="text-center">
          		  <i class="fab fa-twitter mr-3 fa-2x"></i>
            		<i class="fab fa-facebook mr-3 fa-2x"></i>
            		<i class="fab fa-instagram mr-3 fa-2x"></i>
          		</div>
          		<div class="mt-1 text-center">
          		  <p><i class="fas fa-phone fa-fw"></i>xxx-xxxx-xxx</p>
            	  <p><i class="fas fa-location-arrow fa-fw"></i>〇〇県〇〇市〇〇町〇丁目</p>
              	<p><i class="fas fa-envelope fa-fw"></i>portofollio@mail.com</p>
          	  </div>
            </div>
        </div>
    </footer>

  </body>
</html>
